backend/app/__pycache__/*
backend/app/database/__pycache__/*
backend/app/main/__pycache__/*
backend/app/models/__pycache__/*
backend/app/schemas/__pycache__/*
backend/app/crud/__pycache__/*
.env
backend/app/data/

